<main class="container" style="margin-top: 10px;">
    <div>
        <h2>Catálogo de Livros</h2>
        <hr class="border border-dark border-1 opacity-50"/>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Título</th>
                    <th>Resumo</th>
                    <th>Editora</th>
                    <th>Autores</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let livro of livros">
                    <td class="align-middle">{{livro.titulo}}</td>
                    <td class="align-middle">{{livro.resumo}}</td>
                    <td class="align-middle">{{obterNome(livro.codEditora)}}</td>
                    <td class="align-middle">
                        <ul>
                            <li *ngFor="let autor of livro.autores">
                                {{autor}}
                            </li>
                        </ul>
                    </td>
                    <td class="align-middle"><button class="btn btn-danger" (click)="excluir(livro.codigo)">Excluir</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>